html {
  height: 100%;
}

body {
  color: #222;
  font-family: sans-serif;
  line-height: 1.5;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
}

header {
  max-width: 740px;
  width: 100%;
}

main {
  max-width: 740px;
  width: 100%;
  font-size: 13pt;
  flex: 1;
}

footer {
  margin-top: 1rem;
  width: 100%;
  text-align: center;
  background-color: #cecce6;
  display: flex;
  justify-content: center;
  padding: 10px;
}

a {
  color: #222;
  text-decoration: none;
}

a:hover {
  color: #7e78ce;
}

p a {
  color: #4b27cf;
}

nav {
  border-bottom: 1px solid #cecce6;
}

nav ul {
  list-style: none;
  text-align: left;
  max-width: 300px;
}

nav ul li {
  display: inline;
  text-align: center;
  padding: 15px;
  margin: 0;
  font-size: 14pt;
}

time {
  font-style: italic;
  padding-left: 15px;
}

.entry {
  padding-top: 50px;
}
.entry h2 {
  display: inline;
  padding-left: 10px;
}

pre {
  padding: 10px;
}

code span span {
  overflow: scroll;
}

.svg-icon {
  margin: 10px;
  width: 40px;
  height: 40px;
  display: inline;
  background-repeat: no-repeat;
  background-size: 40px 40px;
}